{% load i18n %}
<div class="oh-modal__dialog-header pb-0">
  <span class="oh-modal__dialog-title" id="editModal1ModalLabel">
    {% if category_section.id %} {% trans "Update Category Section" %} {% else
    %} {% trans "Create Category Section" %} {% endif %}
  </span>
  <button class="oh-modal__close" aria-label="Close">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div class="oh-modal__dialog-body">
  <form
    {%
    if
    category_section.id
    %}
    hx-post="{% url 'document-category-update' category_section.id %}"
    {%
    else
    %}
    hx-post="{% url 'document-category-create' %}?dynamic={{dynamic}}"
    {%
    endif
    %}
    {%
    if
    dynamic%}
    hx-target="#dynamicCreateModalBody"
    {%
    else
    %}
    hx-target="#DocumentCategoryForm"
    {%
    endif
    %}
    class="oh-profile-section"
  >
    {% csrf_token %}
    <div class="oh-inner-sidebar-content__body">
      <div class="oh-input-group mb-2">
        <label class="mb-1" for="id_{{form.employee_section.name}}">
          {% trans "Category Section:" %}
        </label>
        {{form.category_section}} {{form.category_section.errors}}
      </div>
    </div>
    <div class="oh-modal__dialog-footer p-0 mt-3">
      <button type="submit" class="oh-btn oh-btn--secondary oh-btn--shadow">
        {% trans "Save" %}
      </button>
    </div>
  </form>
</div>
