{% load i18n %} {% load static %}
<div class="oh-btn-group p-3 justify-content-end">
	<div>
		<button
			class="oh-btn oh-btn--secondary"
			data-toggle="oh-modal-toggle"
			data-target="#objectCreateModal"
			hx-get="{% url 'job-experience-create' emp_id %}"
			hx-target="#objectCreateModalTarget"
			onclick="event.preventDefault()"

		>
			<ion-icon name="add-sharp" class="mr-2"></ion-icon>{% trans "Create" %}
		</button>
	</div>
</div>
{% if job_experiences %}
	<div class="mt-2">
		{% for job_experience in job_experiences %}
			<div id="job_experience{{job_experience.id}}">
				<div class="oh-user_permission-list_item accordion exclude-accordion-style" hx-target="#viewFile" data-toggle="oh-modal-toggle" data-target="#viewFileModal" >
					<div class="oh-user_permission-list_profile row-status--yellow">
						<div class="oh-feedback-card__name-container ms-1 title_form">

							<span class="oh-profile__info-label mb-1">
								<ion-icon name="construct-outline" role="img" class="md hydrated" aria-label="construct outline"></ion-icon>
								<span>Title</span>
							</span>
							<form method="POST"
								hx-post="{% url 'update-job-experience-title' job_experience.id %}"
								hx-swap="none"
								hx-on:htmx-after-request="setTimeout(() => { reloadMessage(); }, 300);">
								
							{% csrf_token %}
								<input class="oh-card__title oh-card__title--sm fw-bold me-1 editable-input"
								 	name="title" 
								 	value="{{job_experience.title}}" 
								 	hx-post="{% url 'update-job-experience-title' job_experience.id %}"
									hx-trigger="keyup changed delay:700ms"
									hx-target="closest form"
									hx-swap="none"
									style="width: 270px;"
								 	readonly />
							</form>

							<span class="oh-profile__info-label mb-1">
								<ion-icon name="business-outline" role="img" class="md hydrated" aria-label="construct outline"></ion-icon>
								<span>Company Name</span>
							</span>
							<form method="POST"
								hx-post="{% url 'update-job-experience-company-name' job_experience.id %}"
								hx-swap="none"
								hx-on:htmx-after-request="setTimeout(() => { reloadMessage(); }, 300);">
								
							{% csrf_token %}
								<input class="oh-card__title oh-card__title--sm fw-bold me-1 editable-input"
								 	name="company_name" 
								 	value="{{job_experience.company_name}}" 
								 	hx-post="{% url 'update-job-experience-company-name' job_experience.id %}"
									hx-trigger="keyup changed delay:700ms"
									hx-target="closest form"
									hx-swap="none"
									style="width: 270px;"
								 	readonly />
							</form>

							<span class="oh-profile__info-label mb-1">
								<ion-icon name="person-circle-outline" role="img" class="md hydrated" aria-label="construct outline"></ion-icon>
								<span>Designation</span>
							</span>
							<form method="POST"
								hx-post="{% url 'update-job-experience-designation' job_experience.id %}"
								hx-swap="none"
								hx-on:htmx-after-request="setTimeout(() => { reloadMessage(); }, 300);">
								
							{% csrf_token %}
								<input class="oh-card__title oh-card__title--sm fw-bold me-1 editable-input"
								 	name="designation" 
								 	value="{{job_experience.designation}}" 
								 	hx-post="{% url 'update-job-experience-designation' job_experience.id %}"
									hx-trigger="keyup changed delay:700ms"
									hx-target="closest form"
									hx-swap="none"
									style="width: 270px;"
								 	readonly />
							</form>

							<span class="oh-profile__info-label mb-1">
								<ion-icon name="time-outline" role="img" class="md hydrated" aria-label="construct outline"></ion-icon>
								<span>Year Of Experience</span>
							</span>
							<form method="POST"
								hx-post="{% url 'update-job-experience-year-of-experience' job_experience.id %}"
								hx-swap="none"
								hx-on:htmx-after-request="setTimeout(() => { reloadMessage(); }, 300);">
								
							{% csrf_token %}
								<input class="oh-card__title oh-card__title--sm fw-bold me-1 editable-input"
								 	name="year_of_experience" 
								 	value="{{job_experience.year_of_experience}}" 
								 	hx-post="{% url 'update-job-experience-year-of-experience' job_experience.id %}"
									hx-trigger="keyup changed delay:700ms"
									hx-target="closest form"
									hx-swap="none"
									style="width: 270px;"
								 	readonly />
							</form>
						</div>
					</div>
					<div class="oh-btn-group">
						<form hx-confirm="{% trans 'Are you sure you want to delete this Document Request?' %}"
							hx-post="{% url 'job-experience-delete' job_experience.id %}"
							hx-target="#job_experience{{job_experience.id}}"
							hx-swap="outerHTML"
							hx-on-htmx-after-request="setTimeout(() => { reloadMessage(); }, 300);"
							onclick="event.stopPropagation()"
							>
							{% csrf_token %}
							<button
								type="submit"
								class="oh-btn  oh-btn--secondary"
								title="{% trans 'Delete' %}"
							>
								<ion-icon
									class="me-1 md hydrated"
									name="trash-outline"
									role="img"
									aria-label="trash outline"
								></ion-icon
								>
							</button>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
	    <div class="text-center">
	        <img class="oh-404__image mb-3" style="width: 150px; height: 150px;" src="{% static 'images/ui/no_documents.png' %}" alt="No documents">
	        <h5 class="oh-404__subtitle">{% trans "No Job Experience have been uploaded yet." %}</h5>
	    </div>
	</div>
{% endif %}

<script src="https://unpkg.com/htmx.org@1.9.2"></script>

<script>
    document.body.addEventListener('htmx:configRequest', function(evt) {
        console.log('HTMX is sending a request to:', evt.detail.path);
    });
</script>


 <script>
	$(document).ready(function(){
		editableInput = $(".editable-input")
		var typingTimer;
		var doneTypingInterval = 300;

		editableInput.on("focus", function(){
			$(this).prop("readonly", false)
		})

		editableInput.on("blur", function(){
			$(this).prop("readonly", true)
		})

		editableInput.on("keyup", function(){
			let error = ""
			let $this = $(this)
			clearTimeout(typingTimer);
			typingTimer = setTimeout(function(){
				if ($this.val().length <=3){
					$this.siblings(".error").removeClass("d-none")
					$this.siblings(".error").addClass("d-block")
				} else {
					$this.siblings('.title-submit').click();
					$this.siblings(".error").removeClass("d-block")
					$this.siblings(".error").addClass("d-none")
				}
			}, doneTypingInterval);

			if (event.keyCode === 13) {
				$(this).blur();
			}
		});

	})
</script>
