{% load i18n %}
<div class="oh-modal__dialog-header pb-0">
  <button class="oh-modal__close" aria-label="Close">
    <ion-icon
      name="close-outline"
      role="img"
      class="md hydrated"
      aria-label="close outline"
    ></ion-icon>
  </button>
</div>
<div class="oh-modal__dialog-body">
  <span
    name=""
    id="dynamicDocumentCategory"
    style="display: none"
    data-toggle="oh-modal-toggle"
    data-target="#dynamicCreateModal"
    hx-get="{% url 'document-category-create' %}?dynamic=true"
    hx-target="#objectCreateModalTarget"
  >
  
</span>

  <form
    id="add-form"
    hx-post="{% url 'document-create' emp_id %}"
    hx-target="#objectCreateModalTarget"
    hx-encoding="multipart/form-data"
  >
    {{form.errors}} {{form.as_p}}
  </form>
</div>
<script>
  $(document).ready(function () {
    var date = $("#id_expiry_date").val();
    var notifyLabel = $("[for='id_notify_before']");
    var notifyInput = $("#id_notify_before");
    if (!date) {
      notifyLabel.addClass("d-none");
      notifyInput.addClass("d-none");
    }
    $("#id_expiry_date").on("change", function () {
      date = $("#id_expiry_date").val();
      if (!date) {
        notifyLabel.addClass("d-none");
        notifyInput.addClass("d-none");
      } else {
        notifyLabel.removeClass("d-none");
        notifyInput.removeClass("d-none");
      }
    });

    $(document).on('change', '#id_document_category_id', function () {
  const selectedValue = $(this).val();

  if (selectedValue === "create") {
    // Trigger the hidden span to activate HTMX modal
    $('#dynamicDocumentCategory').click();
  }
});


    let url, dropdownId, createText, emptyText;

    url = '{% url "get-document-category" %}';
    dropdownId = "#id_document_category_id";
    createText = "Create New  Document Category";
    emptyText = "---Choose Document Category---";

    $.ajax({
          url: url,
          method: "GET",
          success: function (data) {
            const dropdown = $(dropdownId);
            const options = [`<option value="">${emptyText}</option>`];

            $.each(data.document_category, function (key, value) {
              console.log(key, value, 'category')
              options.push(`<option value="${key}">${value}</option>`);
            });

            options.push(`<option value="create">${createText}</option>`);
            dropdown.html(options.join(""));
          },
        });



    

  });




</script>
